.cards-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.main{
    width: 88%;
    margin: 0 auto;
}
/* responsive for tablet and phone */
@media screen and (max-width: 700px) {
    .cards-container{
        display: flex;
        flex-direction: column;

    }
}
@media screen and (max-width: 1200px) and (min-width: 701px){
    .cards-container{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
  }