.time ,.break-time{
    width: 320px;
    height: 50px;
    margin: 1rem auto;
    border-radius: 8px;
    background-color: rgba(23, 104, 3, 0.445);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.time p{
    font-size: 20px;
    color: gray;
}
.time h5{
    font-weight: 400;
}
.break-time p{
    font-size: 20px;
    color: gray;
}
.break-time h5{
    font-weight: 400;
}
.btn{
    width: 75%;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1200px) and (min-width: 701px){
    .time ,.break-time{
        width: 420px;
    }
    .btn{
        width: 50%;
    }

  }
