.card{
    width: 100%;
    padding: 0.5rem;
    text-align: justify;
}
.btn{
    background-color: rgba(25, 84, 35, 0.912);
    display: block;
    margin: 0.3rem auto 0;
}
.card-title{
    color: rgba(25, 84, 35, 0.995);
}