.sidebar{
    background-color: rgb(231, 233, 233);
}

@media screen and (max-width: 700px) {
    .sidebar{
        margin-top: 1rem;
    }
    
}

@media screen and (max-width: 1200px) and (min-width: 701px){
    .sidebar{
        margin-top: 2rem;
    }
  }